.header {
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: right;
  padding-right: 25px;
}
.header .header-top span {
  margin: 0 20px;
}
.header .header-top a {
  color: #00a5e4;
}
.header .header-bottom {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.header .header-bottom .header-bottom-left {
  width: 25%;
  text-align: center;
}
.header .header-bottom .header-bottom-right {
  width: 75%;
  text-align: right;
  padding-right: 25px;
}
.header .header-bottom .header-bottom-right a {
  color: #00a5e4;
  margin-right: 10px;
}
.header .header-bottom .header-bottom-right img {
  width: 30px;
  margin: 0 10px;
}
