#home {
  padding: 40px;
}
#home header {
  overflow: hidden;
  width: 100%;
}
#home header .header-left {
  float: left;
  width: 20%;
}
#home header .header-right {
  float: right;
  width: 70%;
}
#home main {
  overflow: hidden;
}
